<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
</head>
<body>
	<h1>Admin Panel</h1>
	<a href="/user/delete">Remove Customer</a> | 
	<a href="/user/userList">UserList</a> |
	<a href="/book/addbook">Add Book</a>&nbsp;
	<a href="/logout">logout</a>

</body>
</html>