<!DOCTYPE html>
<html>
<head>
	<title>user list</title>
</head>
<body>
	<h1>User List</h1>
	<a href="/adminpanel">Back</a> | 
	<a href="/logout">logout</a>
	
	<table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>FULLNAME</td>
			<td>ACTION</td>
		</tr>

	<% for(var i=0; i < users.length; i++){ %>

		<tr>
			<td><%= users[i].id %></td>
			<td><%= users[i].username %></td>
			<td><%= users[i].fullname %></td>
			<td>
				 
				<a href="/user/details/<%= users[i].id %>">Details</a>
			</td>
		</tr>
	<% } %>

	</table>


</body>
</html>